<!DOCTYPE html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid;
        }

        p,
        h1,
        h2,
        h3 {
            margin: 5px;
        }
    </style>
</head>

<body>
    <table style="width:100%">
        <tr>
            <td style="width:50%;padding:50px">
                <h1>John Doe</h1>
                <p>Software Engineer</p>
            </td>
            <td style="text-align:right;padding:50px">
                <p>johndoe@example.com</p>
                <p>+60189505994</p>
            </td>
        </tr>
    </table>
    <table style="width:100%;">
        <tr>
            <td style="width:200px;padding:40px;vertical-align:top">
                <div>
                    <h2>Skills</h2>
                    <p>Golang</p>
                    <p>HTML/CSS</p>
                    <p>JavaScript</p>
                </div>
                <div style="height:50px"></div>
                <div>
                    <h2>Languages</h2>
                    <p>English</p>
                    <p>Spanish</p>
                    <p>Chinese</p>
                </div>
                <div style="height:50px"></div>
                <div>
                    <h2>Links</h2>
                    <p style="font-size:15px;">johndoe.com</p>
                    <p style="font-size:15px;">johndoe</p>
                    <p style="font-size:15px;">in/johndoe</p>
                </div>
            </td>
            <td style="padding:40px;vertical-align:top">
                <div>
                    <h2>Employment</h2>
                    <div style="height:5px"></div>
                    <div>
                        <p style="font-weight:bold">Senior Software Engineer</p>
                        <p style="font-size:15px">Hooli, San Francisco, USA</p>
                        <p style="color:rgb(155, 155, 155);font-size:15px">January 2016 - December 2018</p>
                        <div style="height:10px"></div>
                        <p style="font-size:15px;text-align:justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie,
                            diam non tempus vehicula, libero elit vestibulum nulla, eu sodales lacus urna
                            id libero. Sed imperdiet, lectus eget bibendum tincidunt, felis eros euismod
                            lacus, eu sagittis nisl nulla at ante. Integer id pellentesque enim, in molestie
                            odio. Vivamus tristique, tortor ac posuere pulvinar, libero nulla congue velit,
                            at aliquam purus mauris eu enim.
                        </p>
                    </div>
                    <div style="height:30px"></div>
                    <div>
                        <p style="font-weight:bold">Senior Software Engineer</p>
                        <p style="font-size:15px">Hooli, San Francisco, USA</p>
                        <p style="color:rgb(155, 155, 155);font-size:15px">January 2016 - December 2018</p>
                        <div style="height:10px"></div>
                        <p style="font-size:15px;text-align:justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie,
                            diam non tempus vehicula, libero elit vestibulum nulla, eu sodales lacus urna
                            id libero. Sed imperdiet, lectus eget bibendum tincidunt, felis eros euismod
                            lacus, eu sagittis nisl nulla at ante. Integer id pellentesque enim, in molestie
                            odio. Vivamus tristique, tortor ac posuere pulvinar, libero nulla congue velit,
                            at aliquam purus mauris eu enim. Aenean imperdiet orci ac risus pretium, vel
                            pretium nunc ullamcorper.
                        </p>
                    </div>
                </div>
                <div style="height:50px"></div>
                <div>
                    <h2>Education</h2>
                    <div style="height:5px"></div>
                    <div>
                        <p style="font-weight:bold">Master's Degree in Computer Science</p>
                        <p style="font-size:15px">Massachusetts Institute of Technology</p>
                        <p style="color:rgb(155, 155, 155);font-size:15px">January 2016 - December 2018</p>
                        <div style="height:10px"></div>
                        <p style="font-size:15px;text-align:justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie,
                            diam non tempus vehicula, libero elit vestibulum nulla, eu sodales lacus urna
                            id libero. Sed imperdiet, lectus eget bibendum tincidunt, felis eros euismod
                            lacus, eu sagittis nisl nulla at ante. Integer id pellentesque enim, in molestie
                            odio. Vivamus tristique, tortor ac posuere pulvinar, libero nulla congue velit,
                            at aliquam purus mauris eu enim.
                        </p>
                    </div>
                    <div style="height:30px"></div>
                    <div>
                        <p style="font-weight:bold">Bachelor's Degree in Computer Science</p>
                        <p style="font-size:15px">Stanford University</p>
                        <p style="color:rgb(155, 155, 155);font-size:15px">January 2016 - December 2018</p>
                        <div style="height:10px"></div>
                        <p style="font-size:15px;text-align:justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie,
                            diam non tempus vehicula, libero elit vestibulum nulla, eu sodales lacus urna
                            id libero. Sed imperdiet, lectus eget bibendum tincidunt, felis eros euismod
                            lacus, eu sagittis nisl nulla at ante. Integer id pellentesque enim, in molestie
                            odio. Vivamus tristique, tortor ac posuere pulvinar, libero nulla congue velit,
                            at aliquam purus mauris eu enim. Aenean imperdiet orci ac risus pretium, vel
                            pretium nunc ullamcorper.
                        </p>
                    </div>
                </div>
                </div>
                </div>
</body>

</html>