<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="styles.css">
    <script src="https://twemoji.maxcdn.com/2/twemoji.min.js?11.2"></script>
    <script>window.onload = function () { twemoji.parse(document.body); }</script>
</head>

<body>
    <div>
        <h1>John Doe</h1>
        Software Engineer
    </div>
    <div>
        <h2>👋 Summary</h2>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie, diam
                non tempus vehicula, libero elit vestibulum nulla, eu sodales lacus urna id libero.
                Sed imperdiet, lectus eget bibendum tincidunt, felis eros euismod lacus, eu sagittis
                nisl nulla at ante. Integer id pellentesque enim, in molestie odio.
            </p>
        </div>
    </div>
    <div>
        <h2>💼 Employment</h2>
        <div>
            <h3>Senior Software Engineer</h3>
            <p class="employer">
                Hooli
            </p>
            <p class="date">
                January 2015 - November 2019
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie,
                diam non tempus vehicula, libero elit vestibulum nulla, eu sodales lacus urna
                id libero. Sed imperdiet, lectus eget bibendum tincidunt, felis eros euismod
                lacus, eu sagittis nisl nulla at ante. Integer id pellentesque enim, in molestie
                odio. Vivamus tristique, tortor ac posuere pulvinar, libero nulla congue velit,
                at aliquam purus mauris eu enim. Aenean imperdiet orci ac risus pretium, vel
                pretium nunc ullamcorper. Suspendisse sed euismod mi, ut luctus est. Mauris
                mollis in velit vel vulputate. Nam quis felis pharetra tortor varius eleifend
                porta sit amet nibh. Donec vitae velit leo. Nam ac nunc eu nisi varius ultrices
                non id nunc. Quisque varius massa non est accumsan varius. Proin mi arcu, porta
                eu venenatis a, posuere a tellus.
            </p>
        </div>
        <div>
            <h3>Software Engineer</h3>
            <p class="employer">
                Pied Piper
            </p>
            <p class="date">
                January 2015 - November 2019
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie,
                diam non tempus vehicula, libero elit vestibulum nulla, eu sodales lacus urna
                id libero. Sed imperdiet, lectus eget bibendum tincidunt, felis eros euismod
                lacus, eu sagittis nisl nulla at ante. Integer id pellentesque enim, in molestie
                odio. Vivamus tristique, tortor ac posuere pulvinar, libero nulla congue velit,
                at aliquam purus mauris eu enim. Aenean imperdiet orci ac risus pretium, vel
                pretium nunc ullamcorper. Suspendisse sed euismod mi, ut luctus est. Mauris
                mollis in velit vel vulputate. Nam quis felis pharetra tortor varius eleifend
                porta sit amet nibh. Donec vitae velit leo. Nam ac nunc eu nisi varius ultrices
                non id nunc. Quisque varius massa non est accumsan varius. Proin mi arcu, porta
                eu venenatis a, posuere a tellus.
            </p>
        </div>
        <div>
            <h3>Software Engineer Intern</h3>
            <p class="employer">
                Aviato
            </p>
            <p class="date">
                January 2014 - November 2014
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie,
                diam non tempus vehicula, libero elit vestibulum nulla, eu sodales lacus urna
                id libero. Sed imperdiet, lectus eget bibendum tincidunt, felis eros euismod
                lacus, eu sagittis nisl nulla at ante. Integer id pellentesque enim, in molestie
                odio. Vivamus tristique, tortor ac posuere pulvinar, libero nulla congue velit,
                at aliquam purus mauris eu enim. Aenean imperdiet orci ac risus pretium, vel
                pretium nunc ullamcorper. Suspendisse sed euismod mi, ut luctus est. Mauris
                mollis in velit vel vulputate. Nam quis felis pharetra tortor varius eleifend
                porta sit amet nibh. Donec vitae velit leo. Nam ac nunc eu nisi varius ultrices
                non id nunc. Quisque varius massa non est accumsan varius. Proin mi arcu, porta
                eu venenatis a, posuere a tellus.
            </p>
        </div>
    </div>
    <div>
        <h2>🎓 Education</h2>
        <div>
            <h3>Master's Degree in Computer Science</h3>
            <p class="school">
                Massachusetts Institute of Technology
            </p>
            <p class="date">
                January 2011 - December 2013
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie,
                diam non tempus vehicula, libero elit vestibulum nulla, eu sodales lacus urna
                id libero. Sed imperdiet, lectus eget bibendum tincidunt, felis eros euismod
                lacus, eu sagittis nisl nulla at ante. Integer id pellentesque enim, in molestie
                odio. Vivamus tristique, tortor ac posuere pulvinar, libero nulla congue velit,
                at aliquam purus mauris eu enim. Aenean imperdiet orci ac risus pretium, vel
                pretium nunc ullamcorper. Suspendisse sed euismod mi, ut luctus est. Mauris
                mollis in velit vel vulputate. Nam quis felis pharetra tortor varius eleifend
                porta sit amet nibh. Donec vitae velit leo. Nam ac nunc eu nisi varius ultrices
                non id nunc. Quisque varius massa non est accumsan varius. Proin mi arcu, porta
                eu venenatis a, posuere a tellus.
            </p>
        </div>
        <div>
            <h3>Bachelor's Degree in Computer Science</h3>
            <p class="school">
                Stanford University
            </p>
            <p class="date">
                January 2007 - December 2010
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie,
                diam non tempus vehicula, libero elit vestibulum nulla, eu sodales lacus urna
                id libero. Sed imperdiet, lectus eget bibendum tincidunt, felis eros euismod
                lacus, eu sagittis nisl nulla at ante. Integer id pellentesque enim, in molestie
                odio. Vivamus tristique, tortor ac posuere pulvinar, libero nulla congue velit,
                at aliquam purus mauris eu enim. Aenean imperdiet orci ac risus pretium, vel
                pretium nunc ullamcorper. Suspendisse sed euismod mi, ut luctus est. Mauris
                mollis in velit vel vulputate. Nam quis felis pharetra tortor varius eleifend
                porta sit amet nibh. Donec vitae velit leo. Nam ac nunc eu nisi varius ultrices
                non id nunc. Quisque varius massa non est accumsan varius. Proin mi arcu, porta
                eu venenatis a, posuere a tellus.
            </p>
        </div>
    </div>
    <div>
        <h2>🧠 Skills</h2>
        <div>
            <h4>Go</h4>
            <p class="skill-level">★★★★☆</p>
            <h4>HTML/CSS</h4>
            <p class="skill-level">★★★☆☆</p>
            <h4>JavaScript</h4>
            <p class="skill-level">★★☆☆☆</p>
        </div>
    </div>
    <div>
        <h2>🗣 Languages</h2>
        <div>
            <h4>English</h4>
            <p class="language-level">Native</p>
            <h4>Spanish</h4>
            <p class="language-level">Advanced</p>
            <h4>Chinese</h4>
            <p class="language-level">Intermediate</p>
        </div>
    </div>
    <div>
        <h2>📞 Contacts</h2>
        <ul>
            <li>johndoe@example.com</li>
            <li>+60123456789</li>
            <li>San Francisco, USA</li>
        </ul>
    </div>
    <div>
        <h2>🔗 Links</h2>
        <ul>
            <li>example.com</li>
            <li>github.com/johndoe</li>
            <li>linkedin.com/in/johndoe</li>
        </ul>
    </div>


    <div>

    </div>
</body>

</html>