<!DOCTYPE html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 0px solid;
        }

        p,
        h1 {
            margin: 5px;
        }
    </style>
</head>

<body>
    <table style="width:100%;padding:50px">
        <tr>
            <td style="width:50%">
                <h1>John Doe</h1>
                <p>Software Engineer</p>
            </td>
            <td style="width:50%;text-align:right">
                <p>johndoe@example.com</p>
                <p>+60189505994</p>
            </td>
        </tr>
    </table>
</body>

</html>