@font-face { 
    font-family: Lato-Light; 
    src: url('fonts/Lato-Light.ttf');
}

@font-face { 
    font-family: Lato-Regular; 
    src: url('fonts/Lato-Regular.ttf');
}

html *
{
    font-family: Lato-Light;
    font-weight: normal;
    text-align: justify;
}

h1, h2, h3, h4 {
    font-family: Lato-Regular;
}

h1 {
    margin-bottom: 5px;
}

div {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

ul {
    margin-left: 6px
}

.date, .language-level {
    margin-top: -15px;
    font-size: 90%;
    color:#8b8b8b;
}

.skill-level {
    margin-top: -15px;
    font-size: 80%;
    color: #808080;
}

.employer, .school {
    margin-top: -15px;
    margin-bottom: 18px;
    font-size: 90%;
}

img.emoji {
    height: 0.8em;
    width: 0.8em;
    margin: 0 .05em 0 .1em;
 }